<div class="meter-clock-container">  
    <!-- Barra de horas -->
    <div class="time-bar">
      <label>Hours</label>
      <div class="meter">
        <div *ngFor="let h of [].constructor(12); let i = index"
             class="meter-block"
             [class.filled]="i < (userHour % 12)"></div>
      </div>
      <span class="am-pm">{{ isPM ? 'PM' : 'AM' }}</span>
    </div>
  
    <!-- Barra de minutos -->
    <div class="time-bar">
      <label>Minutes</label>
      <div class="meter">
        <div *ngFor="let m of [].constructor(60); let i = index"
             class="meter-block"
             [class.filled]="i < userMinute"></div>
      </div>
    </div>
  
    <!-- Barra de segundos -->
    <div class="time-bar">
      <label>Seconds</label>
      <div class="meter">
        <div *ngFor="let s of [].constructor(60); let i = index"
             class="meter-block"
             [class.filled]="i < userSecond"></div>
      </div>
    </div>
  
    <!-- Controles de ajuste manual -->
    <div class="time-adjustment">
      <label>Hour:
        <input type="number" min="1" max="12" [(ngModel)]="userHour" (input)="onTimeChange()" />
      </label>
      <label>Minute:
        <input type="number" min="0" max="59" [(ngModel)]="userMinute" (input)="onTimeChange()" />
      </label>
      <label>Second:
        <input type="number" min="0" max="59" [(ngModel)]="userSecond" (input)="onTimeChange()" />
      </label>
      <label>AM/PM:
        <select [(ngModel)]="isPM" (change)="onTimeChange()">
          <option [ngValue]="false">AM</option>
          <option [ngValue]="true">PM</option>
        </select>
      </label>
    </div>
  </div>
  