<div class="roman-clock-container">
    <div class="time-display">
      Hora romana: {{ getRomanTime() }}
    </div>
    <div class="sliders">
      <label for="hour-slider">Hour:</label>
      <input
        id="hour-slider"
        type="range"
        min="0"
        max="23"
        [(ngModel)]="userHour"
      />
      <label for="minute-slider">Minute:</label>
      <input
        id="minute-slider"
        type="range"
        min="0"
        max="59"
        [(ngModel)]="userMinute"
      />
      <label for="second-slider">Second:</label>
      <input
        id="second-slider"
        type="range"
        min="0"
        max="59"
        [(ngModel)]="userSecond"
      />
    </div>
  </div>
  