<style>
/* src/app/sundial-clock/sundial-clock.component.css */
.sundial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.sundial {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #f3e5ab;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gnomon {
  position: absolute;
  width: 3px;
  height: 90px;
  background-color: #333;
  transform-origin: bottom center;  
  top: 10px;
  transition: transform 0.5s ease;
}
.hour-mark {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: bold;
  color: #333;
}

.hour-mark span {
  transform: translateY(-15px);
}

.time-adjustment {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.time-adjustment label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: center;
}

.time-adjustment input[type="number"] {
  width: 60px;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #333;
  border-radius: 4px;
}


</style>

<div class="sundial-container">
  <div class="sundial">
    <div class="gnomon" [style.transform]="'rotate(' + shadowAngle + 'deg)'"></div>
    <div *ngFor="let hour of [].constructor(12); let i = index" class="hour-mark" [style.transform]="'rotate(' + (i * 30) + 'deg)'">
      <span>{{ (i === 0 ? 12 : i) }}</span>
    </div>
  </div>
</div>

<div class="time-adjustment">
  <label>Hour:
    <input type="number" min="0" max="23" [(ngModel)]="userHour" (input)="onTimeChange()" />
  </label>
  <label>Minute:
    <input type="number" min="0" max="59" [(ngModel)]="userMinute" (input)="onTimeChange()" />
  </label>
  <label>Second:
    <input type="number" min="0" max="59" [(ngModel)]="userSecond" (input)="onTimeChange()" />
  </label>
</div>
