<div class="binary-clock-container">
    <div class="binary-display">
      <p>Horas: {{ toBinary(userHour) }} ({{ userHour }})</p>
      <p>Minutos: {{ toBinary(userMinute) }} ({{ userMinute }})</p>
      <p>Segundos: {{ toBinary(userSecond) }} ({{ userSecond }})</p>
    </div>
  
    <div class="time-adjustment">
      <label>Horas:
        <input type="range" min="0" max="23" [(ngModel)]="userHour" (input)="updateTime()" />
      </label>
      <label>Minutos:
        <input type="range" min="0" max="59" [(ngModel)]="userMinute" (input)="updateTime()" />
      </label>
      <label>Segundos:
        <input type="range" min="0" max="59" [(ngModel)]="userSecond" (input)="updateTime()" />
      </label>
    </div>
  </div>
  