<!-- src/app/register/register.component.html -->
<div class="auth-container">
  <h2>Register</h2>
  <form (ngSubmit)="onRegister()" class="auth-form">
    <label>Username:</label>
    <input [(ngModel)]="username" required maxlength="16" />
    
    <label>Password:</label>
    <input type="password" [(ngModel)]="password" required minlength="8" maxlength="16" />
    
    <button type="submit">Register</button>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </form>
</div>
