<div class="main-container">
  <h1>Time Viewer Project</h1>
  <p>Select a time visualization:</p>

  <div class="view-selector-container">
    <select [(ngModel)]="selectedView" (change)="onSelectView()" class="view-selector">
      <option value="" disabled selected>Select View</option>
      <option value="analog">Analog Clock</option>
      <option value="digital">Digital Clock</option>
      <option value="meter">Meter Clock</option>
      <option value="word">Word Clock</option>
      <option value="progress">Progress Clock</option>
      <option value="binary">Binary Clock</option>
      <option value="color-circle">Color Circle Clock</option>
      <option value="spiral">Spiral Clock</option>
      <option value="spiral-load">Spiral Load Clock</option>
      <option value="roman">Roman Clock</option>
    </select>
  </div>

  <div *ngIf="selectedView" class="clock-display-container">
    <h2>{{ getClockTitle() }}</h2>
    <div class="clock-display">
      <ng-container *ngIf="selectedView === 'analog'">
        <app-analog-clock></app-analog-clock>
      </ng-container>
      <ng-container *ngIf="selectedView === 'digital'">
        <app-digital-clock></app-digital-clock>
      </ng-container>
      <ng-container *ngIf="selectedView === 'meter'">
        <app-meter-clock></app-meter-clock>
      </ng-container>
      <ng-container *ngIf="selectedView === 'word'">
        <app-word-clock></app-word-clock>
      </ng-container>
      <ng-container *ngIf="selectedView === 'progress'">
        <app-progress-clock></app-progress-clock> 
      </ng-container>
      <ng-container *ngIf="selectedView === 'binary'">
        <app-binary-clock></app-binary-clock>
      </ng-container>
      <ng-container *ngIf="selectedView === 'color-circle'">
        <app-color-circle-clock></app-color-circle-clock>
      </ng-container>
      <ng-container *ngIf="selectedView === 'spiral'">
        <app-spiral-clock></app-spiral-clock>
      </ng-container>
      <ng-container *ngIf="selectedView === 'spiral-load'">
        <app-spiral-load-clock></app-spiral-load-clock>
      </ng-container>
      <ng-container *ngIf="selectedView === 'roman'">
        <app-roman-clock></app-roman-clock>
      </ng-container>                 
    </div>
  </div>
</div>
