<div class="analog-clock-container">
  <div class="analog-clock">
    <div class="clock-face">
      <!-- Agujas del reloj -->
      <div class="hand hour" [style.transform]="'rotate(' + hourDeg + 'deg)'"></div>
      <div class="hand minute" [style.transform]="'rotate(' + minuteDeg + 'deg)'"></div>
      <div class="hand second" [style.transform]="'rotate(' + secondDeg + 'deg)'"></div>

      <!-- Números del reloj -->
      <div class="number" style="top: 2%; left: 50%; transform: translate(-50%, 0);">12</div>
      <div class="number" style="top: 15%; left: 75%; transform: translate(-50%, -50%);">1</div>
      <div class="number" style="top: 30%; left: 87%; transform: translate(-50%, -50%);">2</div>
      <div class="number" style="top: 50%; left: 93%; transform: translate(-50%, -50%);">3</div>
      <div class="number" style="top: 70%; left: 87%; transform: translate(-50%, -50%);">4</div>
      <div class="number" style="top: 85%; left: 75%; transform: translate(-50%, -50%);">5</div>
      <div class="number" style="top: 93%; left: 50%; transform: translate(-50%, -50%);">6</div>
      <div class="number" style="top: 85%; left: 25%; transform: translate(-50%, -50%);">7</div>
      <div class="number" style="top: 70%; left: 13%; transform: translate(-50%, -50%);">8</div>
      <div class="number" style="top: 50%; left: 2%; transform: translate(-10%, -60%);">9</div>
      <div class="number" style="top: 30%; left: 13%; transform: translate(-50%, -50%);">10</div>
      <div class="number" style="top: 15%; left: 25%; transform: translate(-15%, -60%);">11</div>
    </div>
  </div>

  <!-- Sliders para ajustar la hora manualmente -->
  <div class="time-adjustment">
    <label>Hour:
      <input type="range" min="0" max="23" [(ngModel)]="userHour" (input)="onTimeChange()" />
    </label>
    <label>Minute:
      <input type="range" min="0" max="59" [(ngModel)]="userMinute" (input)="onTimeChange()" />
    </label>
    <label>Second:
      <input type="range" min="0" max="59" [(ngModel)]="userSecond" (input)="onTimeChange()" />
    </label>
  </div>
</div>
